h1 {
  /* タイトル */
  color: blue;
  font-size: 100px;
  font-family: 'Comic Sans MS';
  background-color:#ddd;
  width: auto;
  height: auto;
  padding-left: 20px;
  margin: 0px;
  /* marginでページ上の余白を消した */
}

form {
  padding-top: 20px;
  margin-left: 20px;
}
ul {
  /* リストのこと */
  color: red;
  font-family: 'HG正楷書体-PRO';
  list-style: none;
  font-size: 40px;
  padding: 20px 10px;
}

input {
/* 入力される文字のところ */
  color:purple;
  font-size:30px;
}

button  {
  color: green;
  font-size: 20px;
}

.footer {
  font-size: 60px;
  background-color: #3f3f3f;
  color: white;  
}